/*
****************************************************************************
GENERAL / GLOBAL
****************************************************************************
*/

html {
	line-height: 1.25;
}

*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	margin: 0;
	color: #303436;
	background: #ffffff;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

#app{
	border-top: 1px solid #b0bdc6;
}

section {
	display: inline;
}

img {
	border-style: none;
}

button {
	padding: 0;
}

a {
	color: #0099da;
	transition: color 0.2s ease;
}

a:hover {
	color: #0091cf; 
}

::selection {
	color: #ffffff;
	background: #0099da;
	text-shadow: none;
}

a::selection {
	color: #ffe700;
}

.title {
	margin: 0;
	font-size: 2em;
	font-weight: 100;
}

ul {
	padding-inline-start: 0;
}

/* 
****************************************************************************
MODAL
****************************************************************************
*/

#modal {
	display: none; 
	flex-flow: column nowrap;
	position: fixed; 
	z-index: 2; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
	background-color: rgba(0,0,0,0.5); 
	animation: fadein .3s; 
}

#modal-container {
	margin: 5% 10% 10% calc(10% + 180px);
	background-color: #ffffff;
	padding: 8px 20px 20px 20px;
	width: calc(80% - 180px);
	max-width: 65%;
	max-height: 95%;
}

#modal-close {
	float: right;
	color:#303436;
	font-size: 28px;
	font-weight: bold;
	transition: all ease 0.2s;
}

#modal-close:hover,
#modal-close:focus {
	color:#0099da;
	text-decoration: none;
	cursor: pointer;
}

#modal-content {
	margin-top: 24px;
}

#modal__title {
	font-size: 1.75em; 
	font-weight: 300;
}

#modal__message{
	margin-top: 24px;
}

.modal__input-container {
	margin-top: 32px;
}

.modal__input-container > label {
	font-size: 1em;
	font-weight: 500;
	margin-left: 4px;
	display: block;
}

.modal__input-container > input, 
.modal__input-container > select {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
	margin-top: 6px;
	font-weight: 100;
	width: 70%;
	max-width: 800px;
	height: 1.75em;
	color: #303436;
	border: none;
	border-bottom: 1px solid #303436; 
	transition: all 0.2s ease;
}

.modal__input-container > input {
	text-indent: 5px;
}

.modal__input-container > input:focus,
.modal__input-container > select:focus {
	outline: none;
	background: #f6f8f9;
	border-bottom: 2px solid #0099da;
}

#modal__button-container {
	margin-top:32px;
	float: right;
}

.modal-save {
	width: 150px;
	cursor: pointer;
	background: #0099da;
	color: #ffffff;
	border: none; 
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	padding: .75em;
	transition: all 0.2s ease;
}

.modal-save:disabled {
	pointer-events: none;
	cursor: default;
	background-color: #b0bdc6;
}

.modal-save {
	background-color: #0091cf;
	color: #e1e7ea;
}

.modal-cancel {
	width: 150px;
	cursor: pointer;
	margin-left: 4px;
	background: #ffffff;
	color: #0099da;
	border: 1px solid #0099da; 
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	padding: .75em;
	transition: background 0.2s ease;
}

.modal-cancel:hover {
	background-color:#e1e7ea;
}

#modal__signoff, 
#modal__image-upload {
	display: block;
	margin-top: 18px;
	font-size: 1em; 
}

#modal__signoff > span,
#modal__signoff > label {
	vertical-align: middle;
}

#modal__signoff > span {
	margin-left: 4px;
}

#image-upload {
	visibility: hidden;
	height: 0px;
}

#image-preview-container{
	margin-top: 6px;
	width: 250px;
	height: 141px;
	border: 1px solid #ced6db; 
	text-align: center;
	white-space: nowrap;
}

.image-align-helper {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

#header-image-preview {
	margin-left: -4px;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

#custom-upload-btn {
	display: block;
	width: 250px;
	padding: 7px;
	margin-top: -12px;
	text-align: center;
	cursor: pointer;
	background: #0099da;
	color: #ffffff;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	transition: all 0.2s ease;
}

#custom-upload-btn:hover {
	background-color:#0091cf;
	color: #e1e7ea;
}

#reset-image {
	width: 250px;
	cursor: pointer;
	background: #ffffff;
	color: #0099da;
	border: 1px solid #0099da; 
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	margin-top: 4px;
	padding: 6px;
	transition: background 0.2s ease;
}

#reset-image:hover {
	background-color:#e1e7ea;
}


/* 
****************************************************************************
TOPBAR
****************************************************************************
*/

#topbar {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	height: 0;
	overflow: hidden;
	background: #ffffff; 
	transition: all ease-in-out 0.2s;
	padding: 0 16px;
}

#topbar-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	color: #303436;
	font-weight: 200;
	line-height: 1.25em;
	max-height: 1.25em;
}

#topbar-back-icon {
	height: 18px;
	transition: fill 0.2s ease;
	cursor: pointer;
	fill: #303436;
}

#topbar-back-icon:hover {
	fill:#0099da; 
}

#topbar-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(65% - 18px);
}

#pv_topbar-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 18px);
}

#topbar-integrator{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 5%;
	width: 35%;
	text-align: right;
	font-size: .85em;
}

/* 
****************************************************************************
SIDE NAVIGATION
****************************************************************************
*/

#menu{
	position: absolute;
	height: 100%;
	width: 180px;
	float: left;
	z-index: 1;
	overflow: hidden;
	transition: all ease-in-out 0.2s;
}

#inner-menu {
	margin: 12px 0;
	display: flex;
	flex-flow: column nowrap;
	height: calc(100% - 24px);
	width: 100%;
	border-right: 1px solid #b0bdc6; 
}

.menu-list {
	height: 100%;
	display: flex;
	flex-flow: column;
	list-style-type: none;
	margin: 12px;
}

.menu-item {
	width: 100%; 
	padding: 10px 0;
	cursor: pointer;
	transition: all 0.2s ease;
}

.menu-item:first-of-type {
	padding-top: 0;
}

.menu-phase {
	font-weight: 200;
}

.current-menu-item {
	color: #0099da;
	font-weight: 600;
}

.menu-item:hover {
	color: #0099da;
}

#menu_feedback {
	width:100%;
	cursor: pointer;
	align-self: flex-end;
	padding-left: 8px;
	font-size: .8em;
	transition: all 0.2s ease; 
}

#feedback-mail-icon {
	vertical-align: bottom;
	width: 14px;
	height: 14px;
	margin-right: 2px;
	transition: all 0.2s ease;
}

#menu_feedback:hover {
	color: #0099da;
}

#menu_feedback:hover > svg {
	fill: #0099da;
}

#menu-title {
	width: 90%;
	font-size: 1.25em;
	height: 1.5em;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#menu-title span {
	width: 85%;
}

.menu-subhead {
	width: 85%;
	margin-top: 16px;
	padding-bottom: 4px;
	font-size: 0.8em;
	font-weight: 600;
	border-bottom: 1px solid #0099da;
}


/* 
****************************************************************************
MAIN CONTNET 
****************************************************************************
*/

#main-content {
	max-height: 100vh;
	padding-top: 18px;
	display: flex;
	margin-left: 180px; 
	flex-direction: column;
	align-items: center;
	--taskNumber: 0;
	counter-reset: task var(--taskNumber);
	overflow-y: auto;
}

#main-content::-webkit-scrollbar {   
	background-color: #ffffff;
	width: .85em
}

#main-content::-webkit-scrollbar-thumb {
	background:  #ced6db;
}

#main-content::-webkit-scrollbar-thumb:hover{
	background:  #b0bdc6;
}

/* 
****************************************************************************
SPLASH SCREEN
****************************************************************************
*/

#splash-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin-bottom: 1rem;
	animation: fadein .3s;
}

#splash-content {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 12px;
	width: 100%;
}

#logo-container {
	display: flex;
	justify-content: center;
	width: 200px;
	height: 65px;
	padding-right: 24px;
	border-right: 1px solid #0099da;
}

#milestone-logo{
	display: flex;
	fill: #0099da;
	width: 100%;
}

#splash-title {
	display: flex;
	margin-left: 18px;
	font-size: 2em;
	font-weight: 100;
	display: flex;
	align-items: center;
	height: 65px;
}

#copyright{
	display: flex;
	margin-top: 32px;
	font-size: .8em;
	color: #9dadb7;
}

#version{
	display: flex;
	margin-top: 4px;
	font-size: .8em;
	color: #9dadb7;
}

/* 
****************************************************************************
DEPLOYMENT LIST 
****************************************************************************
*/

#deployment-list {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	animation: fadein .3s;
}

#deployment-list__body {
	margin-top: 8px;
	width: 100%;
}

.deployment {
	display: flex;
	flex-flow: column wrap;
	flex: 1 0 100%;
	padding: 16px;
	margin: 15px 0;
	border: 1px solid #b0bdc6;
	cursor: pointer;
	transition: background 200ms ease;
}

.deployment:hover {
	background-color: #f6f8f9;
}

.deployment-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.deployment-button-container {
	width: 100px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.deployment-btn {
	background: none;
	border: none;
}

.deployment-btn:focus {
	outline: none;
}

.deployment-button_icon:hover {
	fill: #0099da;
}

.deployment-button_icon {
	cursor: pointer;
	width: 24px;
	height: 24px;
	fill: #303436;
	transition: fill 0.2s ease;
}

.deployment-name {
	width: calc(100% - 100px);
	font-weight: 100;
	font-size: 1.75em;
	margin-bottom: 8px;
}

.deployment-product {
	width: 100%;
	font-size: 1em;
	color: #0099da;
	margin-bottom: 8px;
}

.deployment-details {
	width: 100%;
	font-size: .85em;
	display: flex;
	flex-flow: column nowrap;
}

.deployment-detail {
	font-size: 1em;
	position: relative;
	margin: 3px 0;
}

.deployment-details span {
	position: absolute;
	left: 120px;
}

#no-deployments {
	flex: 1 0 100%;
	width: 85%;
	text-align: center;
	background-color: #f6f8f9;
	padding: 10px 0 40px 0; 
}

#no-deployments h2 {
	font-size: 1.75em;
	font-weight: 100;
	color: #303436;
}

/*
****************************************************************************
NEW DEPLOYMENT
****************************************************************************
*/

#new-deployment__form {
	flex: 1 0 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 90%;
	margin-bottom: 2rem;
	animation: fadein .3s;
}

.select-product {
	margin-top: 16px;
}

.radio-tile-group {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 12px;
}

.input-container {
	position: relative;
	height:  6.75em;
	width:  6.75em;
	margin: .35%;
}

.radio-button {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
}

.radio-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transition: transform 300ms ease, background 0.2s ease;
}

.icon {
	width: 3.5em;
	height: 3.5em;
}

.icon svg {
	fill: #0099da;
}

.radio-tile-label {
	text-align: center;
	font-size: 0.75em;
	letter-spacing: .45px;
	font-weight: 600;
	text-transform: uppercase;
	color: #0099da;
}

.radio-button:hover ~ .radio-tile {
	background-color: #f6f8f9;
}

.radio-button:checked ~ .radio-tile {
	background-color: #0099da;
	border: none;
	color: white;
	transform: scale(1.05, 1.05);
}

.radio-button:checked ~ .radio-tile .icon svg {
	fill: white;
}

.radio-button:checked ~ .radio-tile .radio-tile-label {
	color: white;
}

.text-field {
	width: 100%;
	align-items: center;
	display: flex;
	flex-flow: column;
	margin-top: 18px;
}

.text-field input {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	font-size: 2em;
	font-weight: 100;
	min-width: 400px;
	height: 2.5rem;
	color: #303436;
	width: 45%;
	margin: 12px;
	border: none;
	border-bottom: 1px solid #303436; 
	transition: all 0.2s ease;
}

.text-field input:focus {
	outline: none;
	background: #f6f8f9;
	border-bottom: 2px solid #0099da;
}

#newDeploymentBtn {
	width: 300px;
	background: #0099da;
	color: #ffffff;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	padding: .75em;
	margin-top: 32px;
	transition: background 0.2s ease;
}

#newDeploymentBtn:disabled{
	background-color: #9dadb7;
	pointer-events: none;
}

#newDeploymentBtn:hover {
	background-color: #0091cf;
}

/* 
****************************************************************************
IMPORT DEPLOYMENT
****************************************************************************
*/

#import-deployment__form {
	animation: fadein .3s;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-bottom: 2rem;
	width: 100%;
}

#import-deployment__form > span{
	margin-top: 16px;
}

#select-file-container {
	display: flex;
	flex-flow: row nowrap;
	width: 75%;
	max-width: 550px;
	height: 36px;
	margin-top: 28px;
}

#file-browser {
	padding-top: 9px;
	text-align: center;
	flex: 1 0 15%;
	cursor: pointer;
	background: #0099da;
	color: #ffffff;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	transition: all 0.2s ease;
}

#file-browser:hover {
	background-color:#0091cf;
	color: #e1e7ea;
}

#file-name{
	padding: 8px 0 0 12px;
	flex: 1 0 60%;
	border: 1px solid #0099da;
	font-size: 1em;
	font-weight: 200;
}

input[type="file"]{
	flex: 1 0 0;
	visibility: hidden;
	width: 0;
}

#importDeploymentBtn {
	width: 300px;
	background: #0099da;
	color: #ffffff;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	padding: .75em;
	margin-top: 28px;
	transition: background 0.2s ease;
}

#importDeploymentBtn:disabled{
	background-color: #9dadb7;
	pointer-events: none;
}

#importDeploymentBtn:hover {
	background-color: #0091cf;
}

#status-text {
	margin-top: 12px;
}

#import_complete{
	vertical-align: middle;
	height: 24px;
	width: 24px;
	fill: green;
}

#status_complete{
	vertical-align: middle;
	color: green;
}

#import_error {
	vertical-align: middle;
	height: 24px;
	width: 24px;
	fill: red;
}

#status_error {
	vertical-align: middle;
	color: red;
}

#error_text {
	margin-top: 8px;
	text-align: center;
	font-size: .75em;
}

/* 
****************************************************************************
ABOUT & HELP
****************************************************************************
*/

#help-container{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	margin-bottom: 32px;
	animation: fadein .3s;
}

#help_subhead {
	margin-top: 16px;
	margin-bottom: 8px;
}

.help-topic {
	display: block; 
	width: 100%;
	margin-top: 18px;
}

.topic-selector {
	display: flex;
	flex-flow: row nowrap; 
	width: 100%;
}

.topic-selector button {
	height: 1.6em;
	width: 20px;
	cursor: pointer;
	border: 0;
	outline: 0;
	background: 0 0;
	margin-right: 8px;
}

.help-topic__title {
	font-size: 1.5em;
	font-weight: 100;
	width: 90%;
	cursor: pointer;
	vertical-align: middle;
}

.help-content {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	padding-left: 30px;
	padding-bottom: 8px;
	margin-top: 12px;
	border-bottom: 2px solid #ced6db;
}

.help-content p {
	margin: 6px 0;
}

.help-content ul {
	margin-left: 18px;
}

.help-resource-heading {
	margin-top: 24px; 
	font-size: 1.25em;
	font-weight: 500;
}

.last-help-item {
	margin-bottom: 100px;
}


/* 
****************************************************************************
CHECKLIST
****************************************************************************
*/

.checklist {
	padding-top: 24px;
	width: 90%;
	counter-reset: step;
	animation: fadein .3s;
}

.checklist:first-of-type {
	padding-top: 0; 
}

.checklist:last-of-type{
	padding-bottom: 200px;
}

.checklist__title {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 1.65em;
	font-weight: 100;
	color: #303436;
}

.checklist__title::before{
	counter-increment: task;
	content: counter(task) ". ";
}

.checklist__title-border {
	display: block;
	width: 525px;
	margin-top: 8px;
	border-bottom: 1px solid #0099da;
	-webkit-box-shadow: 0 15px 15px -15px rgba(33, 16, 118, 0.5);
	box-shadow: 0 15px 15px -15px rgba(33, 16, 118, 0.5);
}

.checklist__percentage-border {
	display: block;
	width: 525px;
	height: 4px;
	margin-bottom: 8px;
	transition: transform 350ms ease;
	transform: scaleX(0);
	transform-origin: left;
	background: #80ccec;
}

.checklist-container {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 100%;
	margin: 0;
	padding: 10px 0;
}

.checklist-item {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 100%;
	list-style-type: none;
}

.checklist-item-container {
	flex: 1 1 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 12px;
}

.checklist-item__title {
	flex: 1 0 65%;
	cursor: pointer;
	font-size: 1.1em;
	margin: 0 12px;
	transition: color 250ms ease;
}

.checklist-item__title::before {
	counter-increment: step;
	content: counter(task) counter(step, upper-alpha) ". ";
}

.checklist-button-container {
	width: 100px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.info-container, .note-container{
	max-width: inherit;
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 100%;
	border-bottom: 2px solid #ced6db;
	margin-bottom: 18px;
	padding-bottom: 12px; 
}

.status {
	font-size: .8em;
	width: calc(100% - 220px);
}

.note-field {
	resize: none;
	margin: 12px 0;
	overflow-y: auto;
}

.note-field:focus {
	outline: 2px solid #0099da
}

.note-controls {
	flex: 1 0 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.save-note-btn {
	cursor: pointer;
	width: 120px;
	background: #0099da;
	color: #ffffff;
	border: none; 
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	padding: 9px;
	transition: background 0.2s ease;
}

.save-note-btn:disabled{
	cursor: default;
	background-color: #b0bdc6;
}

.save-note-btn:focus {
	outline: none;
}

.save-note-btn:hover:enabled {
	background-color: #0091cf;
}

.close-note-btn {
	width: 80px;
	cursor: pointer;
	background: #ffffff;
	color: #0099da;
	border: 1px solid #0099da; 
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-size: .95em;
	font-weight: 700;
	padding: 8px;
	transition: background 0.2s ease;
}

.close-note-btn:hover {
	background-color:#e1e7ea;
}

.info {
	flex: 1 0 95%;
	font-family: "Open Sans", sans-serif;
	margin-top: 12px;
	word-wrap: break-word;
}

/* 
****************************************************************************
FLARE CONTENT IMPORTS
****************************************************************************
*/

.info *{
	margin: 0; 
}

.Heading1,
.Heading2,
.Heading3,
.Seealso {
	display: none;
}

.Heading4 {
	font-size: 1.2em;
	font-weight: 500;
	margin-top: 24px;
	margin-bottom: 10px;
}

.Heading3 + .Heading4 {
	margin-top: 0;
}

.info p {
	margin-bottom: 12px; 
	font-size: 1em;
}

.info ul {
	padding-left: 24px;
}

.ListParagraph {
	list-style-type: disc;
	margin-bottom: 8px;
}

.Addtionalresources {
	font-weight: 500;
	font-size: .95em !important; 
	margin-top: 18px !important;
	margin-bottom: 10px !important;
}

.AddlResBulletedList {
	margin-bottom: 8px;
}

.AddlResBulletedList span{
	color: #303436;
	font-size: 1em;
}

.Notetext {
	padding: 10px;
	background-color:#dcf1fa;
}
 

/* 
****************************************************************************
CHECKLIST ICONS 
****************************************************************************
*/

.checklist-button-container button {
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 0;
	outline: 0;
	background: 0 0;
	margin: 0 5px;
}

.checklist-button-container svg {
	fill: #303436;
	transition: all 0.2s ease;
}

.checklist-button-container svg:hover {
	fill: #0099da;
}

.line {
	display: block;
	width: 20px;
	-webkit-transition: all 0.3s cubic-bezier(0.76, -0.26, 0.15, 1.32);
	transition: all 0.3s cubic-bezier(0.76, -0.26, 0.15, 1.32);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	outline: 1px solid transparent;
	background: #303436;
}

.line:after {
	display: block;
	width: 20px;
	height: 2px;
	content: "";
	-webkit-transition: all 0.3s cubic-bezier(0.76, -0.26, 0.15, 1.32);
	transition: all 0.3s cubic-bezier(0.76, -0.26, 0.15, 1.32);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	outline: 1px solid transparent;
	background: #303436;
}

.line.hovering,
.line.hovering:after{
	background: #0099da;
}

.active.line {
	top: 45%;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	background: #0099da;
}

.active.line:after {
	-webkit-transform: rotate(0);
	transform: rotate(0);
	background: 0 0;
}

.checklist-note__expand.hasnote > .svg-note-icon {
	fill: #0099da;
}

.svg-note-icon.active {
	fill: #0099da;
}

.checklist-item__disable.selected > .disable-step__icon {
	fill: red;
}


/* 
****************************************************************************
INPUTS 
****************************************************************************
*/

.checkbox {
	flex-shrink: 0;
	position: relative;
	top: 1px;
	display: inline-block;
	width: 28px;
	height: 28px;
	cursor: pointer;
	-webkit-transition: background 150ms ease;
	transition: background 150ms ease;
	border: 2px solid #303436;
}

.checkbox:hover {
	background: #99d6f0;
}

.checkbox:after {
	position: absolute;
	bottom: 5px;
	left: 8px;
	width: 9px;
	height: 19px;
	content: "";
	-webkit-transition: all 325ms ease;
	transition: all 325ms ease;
	-webkit-transform: rotate(45deg) scale(0);
	transform: rotate(45deg) scale(0);
	opacity: 0;
	border-right: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ .checkbox {
	-webkit-animation: wiggle 0.4s ease;
	animation: wiggle 0.4s ease;
	border-color: transparent;
	background: #0099da;
}

input[type="checkbox"]:checked ~ .checkbox:after {
	-webkit-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	opacity: 1;
}

input[type="checkbox"]:disabled ~ .checkbox {
	-webkit-animation: wiggle 0.4s ease;
	animation: wiggle 0.4s ease;
	background: #ced6db;
	border-color: #ced6db;
}

input[type="checkbox"]:disabled ~ .checklist-item__title {
	color: #9dadb7;
}

.disable-step {
	cursor: pointer; 
}

.disable-step__icon {
	width: 20px;
	height: 20px; 
	fill: #303436;
}

.disable-step__icon:hover {
	fill: #0099da;
}

input[id$="__disable"]:checked ~ .checklist-item__title {
	-webkit-transition: all 175ms ease;
	transition: all 175ms ease;
	opacity: 0.5;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
	-webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}


/* 
****************************************************************************
PRINT
****************************************************************************
*/

#print-view {
	max-width: 1024px;
	width: 95%;
	padding: 6%;
	counter-reset: phase task;
	animation: fadein .3s;
	border: 1px solid #ced6db;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	margin-bottom: 100px;

}

#print-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#header-image-container {
	width: 178px;
	height: 100px;
	text-align: left;
	white-space: nowrap;
}

#pv__header-image {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

#print-title{
	text-align: center;
	width: 100%;
	vertical-align: middle;
	font-size: 1.15em;
	font-weight: 400;
	margin-top: 18px;
}

#pv__deployment-info {
	align-self: center;
	text-align: right;
	width: 60%;
	font-size: .75em;
	font-weight: 600;
}

.pv__header-span {
	font-weight: 400;
}

#pv__deployment-info div {
	margin-bottom: 6px;
}

.pv__phase-title {
	counter-increment: phase;
	font-size: 1.15em;
	font-weight: 600;
	margin: 24px 0;
}

.pv__phase-title::before {
	content: counter(phase, upper-roman) ". "; 
}

.pv__phase-tasks {
	list-style-type: none;
}

.pv__task-title {
	width: max-content;
	max-width: 100%;
	font-size: 1.1em;
	font-weight: 300;
	margin-top: 16px;
	counter-increment: task;
	border-bottom: 1px solid #303436;
	padding-bottom: 4px;
	margin-bottom: 16px;
}

.pv__task-title:before {
	content: counter(task) ". ";
}

.pv__task-steps {
	list-style-type: none;
	counter-reset: step;
}

.pv__step {
	counter-increment: step;
	margin-bottom: 12px;
}

.pv__title-container {
	margin-left: 28px;
	text-indent: -28px;
	margin-bottom: 4px;
}

.pv__title-container > svg,
.pv__step-notes > svg { 
	height: 24px;
	width: 24px;
	margin-top: -2px;
	vertical-align: top;
}

.pv__step-title::before {
	content: counter(task) counter(step, upper-alpha) ".";
	margin-right: 2px;
}

.pv__status-container{
	padding-inline-start: 28px;
	font-size: 0.75em;
}

.pv__step-notes {
	margin-top: 12px;
}

.pv__note-icon {
	margin-left: -2px;
}

.pv__note-label {
	font-size: 1.15em;
	font-weight: 500;
}

.pv__note-content {
	font-size: 1.15em;
	padding: 2px 0 6px 0;
	border-bottom: 1px solid #303436;
	min-width: 250px;
	max-width: max-content;
	margin-bottom: 2px;
}

@media print {

	#app {
		border-top: none;
	}

	#print-view{
		width: 100%;
		border: none;
		padding: 2%;
		box-shadow: none;
		margin: 0;
	}

	#menu {
		border-top: none;
		display: none;
	}

	#topbar {
		display: none;
	}

	#main-content{
		border-top: none;
		height: 100%;
		width: 100%;
		overflow: visible;
		margin-left: 0;
	}

	.pv__step {
		page-break-inside: avoid;
	}

	#signoff-page {
		page-break-before: always;
	}
}


/* 
****************************************************************************
ANIMATIONS 
****************************************************************************
*/

@keyframes wiggle {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	30% {
		-webkit-transform: scale(1.25, 0.75);
		transform: scale(1.25, 0.75);
	}
	40% {
		-webkit-transform: scale(0.75, 1.25);
		transform: scale(0.75, 1.25);
	}
	50% {
		-webkit-transform: scale(1.15, 0.85);
		transform: scale(1.15, 0.85);
	}
	65% {
		-webkit-transform: scale(0.95, 1.05);
		transform: scale(0.95, 1.05);
	}
	75% {
		-webkit-transform: scale(1.05, 0.95);
		transform: scale(1.05, 0.95);
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}